@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.cursor:hover {
  font-weight:500;
  color: #252525 !important;
  cursor: pointer !important;
}

.miClase {
  color: red !important;
  font-weight: bold;
  font-size: larger;
}

.ocultar {
  display: none;
}

.row-relative {
  position: relative;
}

.span-correo {
  position: absolute;
  top: 104%;
  font-size: 0.8rem;
  color: red;
  line-height: 0.95;
  padding-top: 0.05rem;
}

.correo-hide{
  display: none;
}

#id-icono-passA {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.preguntas {
  font-size: 1.2rem;
  color:#0d6efd;
  font-weight: 500;
}

.premioGanador{
  color: goldenrod;
  font-size: 9.5rem;
}

.premio{
  color: dimgray;
  font-size: 2.5rem;
}

.correcto{
  background-color: rgb(128, 255, 0) !important;
  border: 2px solid rgb(92, 184, 0) !important;
}